/* About Me */
.About{
  box-sizing: border-box;
  width: 77vw;
  padding:10rem 0 8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_me_image{
  width: fit-content;
  height: 60vh;

  border-radius: 30%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.script_about_me{
  width: 37vw;
  display:flex;
  flex-direction: column;
}
.tilte_about_me{
  max-width: 477.57px;

  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: normal;
  letter-spacing: 0;

  color: #F2671D;

  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.tilte_about_me_slash{
  width:30vw;
  height: 1px;
  background-color: #FCF7ED;
}
.main_about_me{
  width: 100%;
  
  padding:1rem 0 0 0;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 29px;

  color: #FCF7ED;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container_support_info{
  width: 100%;
  padding: 8.7rem 0 0 0;

  display: flex;
  justify-content: space-between;
}
.support_info{
  max-width: 295px;
  padding:0 0.5rem 0 0;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 29px;
  
  color:#FCF7ED;
}
.highlight{
  font-weight: 700;
  color: #F2671D;
}
ul {
  list-style-position: inside; /* ✅ bullet nằm trong khung nội dung */
}
@media (max-width:600px){
  .tilte_about_me{
    font-size: 2.6rem;
  }
  .main_about_me{
    font-size: 1.3rem;
  }
  .support_info{
    font-size:1.3rem;
  }
}
@media (max-width: 1036px) {
  .About{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5rem 0 5rem 0;
  }
  .script_about_me{
    width: 90vw;
  }
  .tilte_about_me_slash{
    width: 60vw;  
  }
  .about_me_image{
    width: 70vw;
    height: fit-content;
    margin: 2rem;
    align-self: center;
  }
  .container_support_info{
    justify-content: space-between;
  }
}
@media (max-width:1590px) {
  .container_support_info{
    flex-direction: column;
    padding:3rem 0 0 0;
    gap:1rem;
  }
}