* {
  margin: 0;
  padding: 0;
  
}

:root {
  background: #1F1F1F;
  background: linear-gradient(180deg,rgba(31, 31, 31, 1) 0%, rgba(35, 35, 35, 1) 76%, rgba(44, 44, 44, 1) 100%, rgba(52, 52, 52, 1) 95%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

