.sample{
    width: 77vw;
    padding:3.6rem 0 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sample_title{
    max-width: 410px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 65px;

    color: #F2671D;

    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.navigator_container{
    width: 100%;

    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.navigator{
    display:flex;
    flex-direction: row;
}
.navigator_slash{
    width:100%;
    height: 1px;
    background-color: #F2671D;
}
.button_1,.button_2{
    width: 150px;
    height:37px;

    display:flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 24px;
    letter-spacing: -0.05em;

    color: #000000;
    background: #FCF7ED;
}
.button_1{
    border-radius: 50px 0px 0px 0px;
}
.button_2{
    border-radius: 0px 50px 0px 0px;
}
.button_3,.button_4,.button_5{
    width: 120px;
    height: 27px;

    display:flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 0.9em;
    line-height: 24px;
    letter-spacing: -0.05em;

    color: #000000;
    background: #FCF7ED;
}
.button_3{
    border-radius: 0px 0px 0px 50px;
}
.button_4{
    border-radius: 0px 0px 0px 0px;
}
.button_5{
    border-radius: 0px 0px 50px 0px;
}
.button_1:hover,.button_2:hover,.button_3:hover,.button_4:hover,.button_5:hover{
    background: #E2BDA9;
}
.button_1.selected,.button_2.selected,.button_3.selected,.button_4.selected,.button_5.selected{
    background: #F2681D;
    cursor: default;
}
.galary{
    width: 100%;
    height:75vh;
    padding:0.9rem 0 0 0;
    display: flex;
    justify-content: space-between;
    overflow-y: auto; 
}
.notfound{
    width: 100%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    line-height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: -0.05em;

    color: #FCF7ED;
}
.galary::-webkit-scrollbar {
    display: none;                 /* Chrome, Safari, Edge */
}
.galary_1,.galary_2,.galary_3{
    display: flex;
    flex-direction: column;
    gap:0.7rem;
}
.galary_1{
    width: 26%;
}
.galary_2{
    width: 46%;
}
.galary_3{
    width: 100%;
    display: flex;
    align-items: center;
}
.youtube_video {
    width: 90%;
    aspect-ratio: 16 / 9; /* Tự động giữ tỷ lệ 16:9 */
}

@media (max-width: 868px) {
    .sample{
        width: 90vw;
    }
}
@media (max-width:600px){
    .navigator{
        justify-content: center;
    }
    .sample{
        padding:2rem 0 2rem 0;
    }
    .navigator div{
        flex:1;
    }
    .galary_1,.galary_2,.galary_3{
        gap:0.3rem;
    }
    .sample_title{
        font-size:2.3rem;
    }
}